body {
	font-family: 'Open Sans', sans-serif;
	background-color: #AAAAAA;
}

nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 30px;
	background-color: #ff5454;
	z-index: 1;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover { text-decoration: underline; }

h2 { margin: 40px 0 10px 0; }

form {
	width: 500px;
	padding: 0;
}

input[type=text] {
	width: 100%;
	padding: 5px 0;
	margin-bottom: 10px;
}

input[type=submit]
{
	margin-top: 20px;
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 40px 30px;
	text-align: right;
	background-color: #222222;
	color: #AAAAAA;
	font-size: 13px;
	font-style: italic;
}

#logo {
	color: white;
	padding: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin-left: 20px;
}

ul.admin { margin-left: -56px; }

ul.admin li {
	padding: 30px 10px;
	background-color: white;
	box-shadow: 1px 8px 10px -5px black;
}

ul.admin li:hover {
	background-color: #ff5454;
}

ul.admin li:hover > a{
	color: white;
}

ul.admin li a {
	color: black;
	padding: 40px 20px;
	text-decoration: none;
}
ul.admin li a:hover {
	color: white;
}

.container {
	margin-top: 100px;
	padding: 25px 35px;
}

.product {
	width: 80%;
	height: 20px;
	padding: 10px 20px;
	background-color: white;
	margin-bottom: 15px;
}

.green-button {
	color: white;
	background-color: green;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 20px;
	text-decoration: none;
}

.grey-button {
	color: white;
	background-color: grey;
	padding: 5px 15px;
	border-radius: 5px;
	font-size: 20px;
	text-decoration: none;
}

.align-center { text-align: center; }
.align-right { float: right; }
.align-left { float: left; }
.clear { clear: both; }